<a href="https://colab.research.google.com/github/WilfredoTovar/A-PROCESS-CONTROL-NETWORK-ANALYSIS-FOR-INDUSTRY-/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import the libraries
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal
Using TensorFlow backend.

In [3]:
#Get the stock quote 
df = web.DataReader('AAPL', data_source='yahoo', start='2012-01-01', end='2018-07-01') 
#Show the data 
df

                  High         Low  ...      Volume   Adj Close
Date                                ...
2012-01-03   58.928570   58.428570  ...  75555200.0   50.994907
2012-01-04   59.240002   58.468571  ...  65005500.0   51.268970
2012-01-05   59.792858   58.952858  ...  67817400.0   51.838169
2012-01-06   60.392857   59.888573  ...  79573200.0   52.380054
2012-01-09   61.107143   60.192856  ...  98506100.0   52.296970
...                ...         ...  ...         ...         ...
2018-06-25  184.919998  180.729996  ...  31663100.0  177.802338
2018-06-26  186.529999  182.539993  ...  24569200.0  180.008163
2018-06-27  187.279999  184.029999  ...  25285300.0  179.744629
2018-06-28  186.210007  183.800003  ...  17365200.0  181.052505
2018-06-29  187.190002  182.910004  ...  22737700.0  180.671844

[1634 rows x 6 columns]